@import "../../assets/Scss/variables";

.LoginForm {
	width: 500px;
	background: $white;
	margin: 85px auto;
	padding: 38px;
	top: 50%;

	box-shadow: 0px 1.70526px 3.41053px rgba(0, 0, 0, 0.075);

	.description {
		margin-top: 40px;

		h2 {
			font-size: 27px;
			font-weight: 600;
			margin-bottom: 16px;
		}

		p {
			font-style: normal;
			font-size: 17.0526px;
			line-height: 176%;
			color: $lightGray;

			span {
				color: $secondary;
				cursor: pointer;
				text-decoration: underline;
				font-weight: 600;
			}
		}
	}

	.fg-email {
		margin: 42px 0 38px 0 !important;
	}

	label,
	input {
		font-size: 18px;
	}

	input {
		border-radius: 3px;
	}

	.viewPassword {
		cursor: pointer;
		font-size: 18px;
		position: absolute;
		right: 10px;
		margin-top: 0.5rem;
	}

	.btn {
		color: $white;
		font-size: 18px;
		font-weight: 600;
		border-radius: 3px;
		padding: 12px 10px;
		margin-top: 54px;
	}
}

.link {
	color: $secondary;
	cursor: pointer;
	font-weight: 600;

	&:hover {
		color: $secondary;
	}
}

.bolder {
	font-weight: 600;
}

.orOption {
	font-weight: 400;
	font-size: 17;
	line-height: 164%;
	color: $lightGray;
	text-align: center;
	margin: 20px 0;
}

.otherLoginOptions {
	display: flex;
	justify-content: center;
	align-items: center;

	.option {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.852632px solid #212529;
		border-radius: 3.41053px;
		width: 190px;
		padding: 9px;

		span {
			margin-left: 5px;
			font-size: 18px;
			font-weight: 600;
		}

		&:nth-child(1) {
			margin-right: 18px;
		}
	}
}

.login-btn {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	border-radius: 3.41053px;
}
.disabled {
	background-color: $lightGray2;
	border: none;
	cursor: not-allowed;
}

.googleLoginBtn{
	display: inline-flex !important;
    align-items: center !important;
    padding: 0px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: Roboto, sans-serif !important;
    margin-top: 0px !important;
    border: solid !important;
    border-color: black !important;
    color: black !important;
    background-color: white !important;
    border-radius: 3px !important;
    border-width: 1px !important;
}

.googleLoginBtn:hover{
	background-color: #0c0d48 !important;
    color: white !important;
}