$primary: #0C0D48;
$white: #fff;
$secondary: #e71d7c;
$gradient: -webkit-linear-gradient(97.5deg, #e71d7c 7.2%, #3e4581 57.6%, #e71d7c 84%);
$lightPink: #fff6fa;
$lightGray: #6c757d;
$lightGray2: #adb5bd;
$fontfamily: "Inter", sans-serif;

body {
	font-family: $fontfamily;

	.cursor-pointer {
		cursor: pointer;
	}

	.btn-warning {
		background-image: -webkit-linear-gradient(97.5deg, #e71d7c 7.2%, #3e4581 57.6%, #e71d7c 84%);
		color: $white;
		border: none;
	}
}
