.breaddiv {
    position: relative;
    align-items: center;
    margin-bottom: 5rem;
}

.breadcrumb {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 13px 23px;
    gap: 10px;
    width: fit-content;
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid #DEE2E6;
    box-shadow: 0px 36px 22px rgba(0, 0, 0, 0.01), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 4px 9px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
    border-radius: 25px;
}

.breadcrumb a {
    width: 46px;
    height: 24px;
    font-family: var(--Inter_Medium);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #212529;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.half-half-image-text {
    /* padding: 70px 0px; */
}

.half-half-image-text h1 {
    color: #800000;
}

.half-half-image-text .content {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 35px 0px;
}

.half-half-image-text .content p {
    font-size: 22px;
}

.half-half-image-text .img {
    min-height: 320px;
    height: 100%;
    border-radius: 10px;
}

.half-half-image-text .row div .content h3 {
    font-family: var(--Inter_SemiBold);
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    background: linear-gradient(97.5deg, #E71D7C 9.2%, #3E4581 26.6%, #E71D7C 47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.half-half-image-text .row div .content p {
    font-family: var(--Inter_Header);
    /* width: 454px; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #6C757D;
}

.half-half-image-text .First {
    flex-direction: row-reverse;
    padding-right: 70px;
    padding-left: 70px;
}

.half-half-image-text .Second {
    padding-right: 70px;
    padding-left: 70px;
}

/* .second-image{ */
.half-half-image-text .img {
    background-size: contain !important;
}

.half-half-image-text .grp-14 {
    position: absolute;
    height: 52px;
    width: 64.25px;
    left: 30px;
    top: 29%;
}

.half-half-image-text .dots-24 {
    position: absolute;
    height: 90px;
    width: 90px;
    /* top: 70%; */
    right: -8px;
}

.half-half-image-text .b1 {
    font-family: var(--Inter_SemiBold);
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(97.5deg, #E71D7C 7.2%, #3E4581 57.6%, #E71D7C 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.half-half-image-text .b2 {
    display: inline-block;
    width: 733.5px;
    /* height: 59px; */
    font-family: var(--Inter_Header);
    font-style: normal;
    font-weight: 400;
    font-size: 16.1667px;
    line-height: 29px;
    text-align: center;
    color: #6C757D;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 1.5rem;
    margin-bottom: 20px;
}

.half-half-image-text .rhead p {
    width: auto;
    height: auto;
    font-family: var(--Inter_Bold);
    font-style: normal;
    font-weight: 700;
    font-size: 20.0554px;
    line-height: 25px;
    text-transform: capitalize;
    color: #0C0D48;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.half-half-image-text .rbody p {
    max-width: 225.62px;
    height: auto;
    font-family: var(--Inter_Header);
    font-style: normal;
    font-weight: 400;
    font-size: 13.8142px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #495057;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.half-half-image-text .About-Fly-Text{
    /* width: 628px; */
}
.half-half-image-text .faq-illus1{
    background: url("../ui/Images/About us vectors-01.svg") no-repeat center;
    background-size: cover;
    width: 500px;
}

.half-half-image-text .faq-illus2{
    background: url("../ui/Images/About us vectors-02.svg") no-repeat center;
    background-size: cover;
    width: 500px;
}

.half-half-image-text .faq-illus3{
    background: url("../ui/Images/About us vectors-03.svg") no-repeat center;
    background-size: cover;
    width: 500px;
}

@media only screen and (max-width: 770px) {
    .breaddiv {
        display: none;
    }

    .half-half-image-text .rbody p {
        width: fit-content;
    }

    .half-half-image-text .rhead p {
        width: fit-content;
    }

    .dots-24,
    .grp-14 {
        display: none;
    }

    .half-half-image-text section .col-3 {
        flex: none;
    }
}

@media only screen and (max-width: 991px) {
    .half-half-image-text .row div .content p {
        width: auto !important;
    }

    .half-half-image-text p .b1 {
        width: 237px !important;
        height: 62px;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 120%;
    }

    .half-half-image-text .b2 {
        width: auto !important;
        height: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .half-half-image-text section .row {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .half-half-image-text section .col-3 {
        max-width: fit-content;
        width: 100% !important;
        /* margin-bottom: 20px; */
    }
}

@media only screen and (max-width: 376px) {
    .half-half-image-text .img {
        min-height: 160px;
    }
}

@media only screen and (max-width: 426px) {
    .half-half-image-text .row div .content h3 {
        font-size: 24px;
        text-align: center;
    }

    .half-half-image-text .row div .content p {
        width: 290px !important;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 25px;
    }

    .half-half-image-text .img {
        min-height: 160px;
    }

    .half-half-image-text .content {
        padding: 0px;
    }

    .half-half-image-text p .b1 {
        font-size: 22px;
    }
    
    .half-half-image-text .faq-illus1{
        width: auto;
    }

    .half-half-image-text .faq-illus2{
        width: auto;
    }

    .half-half-image-text .faq-illus3{
        width: auto;
    }

    .half-half-image-text .Mob-Margin{
        margin-top: 20px;
    }
}

.about-rect {
    position: absolute;
    top: 173px;
    left: 36%;
}

.LineBg {
    position: absolute;
    display: block;
    width: 1424px;
}

@media only screen and (max-width: 768px) {
    .LineBg {
        display: none;
        position: relative;
    }
}

@media only screen and (min-width: 877.71px) {
    .LineBg {
        width: 824px;
    }
}

@media only screen and (min-width: 1024px) {
    .LineBg {
        width: 984px;
    }
    .half-half-image-text .faq-illus1{
        width: 350px;
    }
    .half-half-image-text .faq-illus2{
        width: 350px;
    }
    .half-half-image-text .faq-illus3{
        width: 350px;
    }
}

@media only screen and (min-width: 1228.80px) {
    .LineBg {
        width: 1184px;
    }
}

@media only screen and (min-width: 1396.36px) {
    .LineBg {
        width: 1354px;
    }
}

@media only screen and (min-width: 1536px) {
    .LineBg {
        width: 1424px;
    }
}

@media only screen and (min-width: 1706px) {
    .LineBg {
        width: 1504px;
    }
}

@media only screen and (min-width: 1920px) {
    .LineBg {
        width: 1610px;
    }
}

@media only screen and (min-width: 2048px) {
    .LineBg {
        width: 1680px;
    }
}

@media only screen and (min-width: 2304px) {
    .LineBg {
        width: 1800px;
    }
}

@media only screen and (min-width: 3072px) {
    .LineBg {
        width: 2170px;
    }
}