.FontBold{
    font-family: var(--Inter_Bold);
}
.HeaderFont{
    font-family: var(--Inter_Header);
}

.All_Order .form-row .my-order .form-row .btn-search-head span {
    font-family: var(--Inter_Bold);
    font-size: large;
}

.All_Order .form-row .my-order .form-row .btn-search-head {
    flex-wrap: wrap;
}

.All_Order .search {
    display: flex;
    align-items: center;
    position: relative;
    /* border: 1px solid black; */
    padding: 0.5vh;

    margin-left: auto;
}

.All_Order .search img {
    position: absolute;
    /* left: 10px; */
    padding: 9px;
}

.All_Order .search input {
    border: 1px solid #CED4DA;
    border-radius: 10px;
    outline: none;
    padding-left: 40px;
    width: 150px;
    height: 2.8rem;
    font-size: 14px;
    background-color: rgba(248, 248, 248, 1);
}

.All_Order .search input::placeholder{
    color: #ADB5BD;
    font-family: var(--Inter_Local);
}

.All_Order .d-one .col .main {
    /* border: 1px solid #FD7E14; */
    border: 1px solid #E9ECEF;
    border-radius: 10px;
    padding: 20px 16px 0 16px;
    display: flex;
    flex-wrap: wrap;
}

.All_Order .d-one .col .main .logo img {
    border-radius: 10px;
    margin-right: 10px;
}

.All_Order .d-one .col .main .header .head {
    font-family: var(--Inter_Header);
    font-weight: 600;
    font-size: 17px;
    color: #000;
    margin-bottom: 0.5rem;
}

.All_Order .d-one .col .main .header span .status-details {
    width: auto;
    font-family: var(--Inter_Header);
    font-size: 15px;
    color: #ADB5BD;
}

.All_Order .d-one .col .main .price {
    display: inline-table;
}

.All_Order .d-one .col .main .price p {
    font-family: var(--Inter_Bold);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #198754;
}

.All_Order .d-one .col .main .hr {
    position: relative;
    margin-top: 1rem;
    border-bottom: 2px solid #ADB5BD;
    opacity: 0.4;
    width: 100%;
}

.All_Order .col-md-12 span .status-details {
    display: flex;
    flex-wrap: wrap;
}

.All_Order .col-md-12 span .status-details .count {
    background-color: #198754;
    border-radius: 100%;
    /* border: 1px solid #198754; */
    width: fit-content;
    height: fit-content;
    min-width: 20px;
    text-align: center;
    color: #fff;
    font-family: var(--Inter_Header);
    font-size: 14px;
    align-self: center;
}

.All_Order .col-md-12 span .status-details .sub-des {
    font-family: var(--Inter_Header);
    color: #198754;
    margin: 0 10px;
    font-weight: 600;
    align-self: center;
    font-size: 14px;
}

.All_Order .dis-count {
    background-color: #ADB5BD;
    border-radius: 100%;
    /* border: 1px solid #198754; */
    width: fit-content;
    height: fit-content;
    min-width: 20px;
    text-align: center;
    color: #fff;
    font-family: var(--Inter_Header);
    font-size: 14px;
    align-self: center;
}

.All_Order .dis-sub-des {
    font-family: var(--Inter_Header);
    color: #ADB5BD;
    margin: 0 10px;
    font-weight: 600;
    align-self: center;
}

.All_Order .sub-hr {
    padding: 0;
    flex: 0 0 5%;
    align-self: center;
    color: #198754;
}

.All_Order .sub-hr>hr {
    align-self: center;
    border: 1px solid #198754;
    opacity: 1;
}

.All_Order .col-md-12 .col-md-3 {
    flex: none;
    width: fit-content;
}

.All_Order .order-id p {
    font-family: var(--Inter_Header);
    color: #ADB5BD;
    font-size: 15px;
}

.All_Order .order-id span {
    color: #212529;
    font-weight: bold;
    font-size: 17px;
}

.All_Order .btn-order a {
    font-family: var(--Inter_Header);
    font-size: 18px;
    color: #E71D7C;
    text-decoration: none;
}

.All_Order .btn-rate a {
    font-family: var(--Inter_Header);
    font-size: 18px;
    color: #0D6EFD;
    text-decoration: none;
}


/* Filter */
.All_Order .Filter .card-header {
    background-color: transparent;
    font-family: var(--Inter_Bold);
    font-size: 18px;
    padding: 12px 20px;
}

.All_Order .Filter .card-header span {
    font-family: var(--Inter_Header);
    color: #CED4DA;
    font-weight: 400;
}

.All_Order .Filter .card-body .check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.All_Order .left,
.All_Order .right {
    flex: 1 0 50%;
    white-space: nowrap;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    font-family: var(--Inter_Header);
    color: #6C757D;
    font-size: 18px;
    opacity: 0.9;
}

.All_Order .left input[type=checkbox],
.All_Order .right input[type=checkbox] {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    vertical-align: middle;
    border: 1px solid #E9ECEF;
    outline: none;
    cursor: pointer;
}


/* Navigation */
.All_Order nav .pagination .page-item {
    width: 50.37px;
    height: 45.5px;
}

.All_Order nav .pagination .page-item a {
    margin-left: auto !important;
    font-family: var(--Inter_Local);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000;
}

.All_Order nav .pagination .page-item a:active,
.All_Order nav .pagination .page-item a:focus {
    color: #FFFFFF;
    background-color: #000;
}

.All_Order .forMobile {
    display: none;
}

@media only screen and (max-width: 991px) {
    .breaddiv {
        display: none;
    }

    .All_Order .forweb {
        display: none;
    }

    .All_Order .forMobile {
        display: block;
        /* margin: 0 30%; */
    }

    .All_Order .nav-tabs {
        display: grid;
        width: 100%;
    }

    .All_Order .nav-tabs .nav-item .active {
        color: #E71D7C;
        font-family: var(--Inter_Local);
        font-size: 18px;
        font-weight: 800 !important;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        width: fit-content;
    }
}

.All_Order .nav-link:hover {
    background-color: #fafafa;
}

@media only screen and (max-width: 529px) {
    
    .All_Order .form-row .my-order {
        width: 100%;
        margin-top: 2rem;
    }

    .All_Order .form-row .col-md-4 {
        order: -1;
        width: 100%;
    }
    
    .All_Order .d-one .col .main .header .head {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    
    .All_Order .form-row .my-order .form-row .btn-search-head span {
        align-self: center;
    }
    
    .All_Order .d-one .col .main .hr {
        margin-top: auto;
    }

    .All_Order .left,
    .All_Order .right {
        font-family: 15px;
        /* padding: 1px; */
    }
    
    .All_Order .form-row .col-md-7 {
        width: fit-content;
    }
    
    .All_Order .btn-order a {
        font-size: 14px;
        text-wrap: nowrap;
        margin-bottom: 1rem;
    }
    
    .All_Order .btn-rate a {
        font-size: 14px;
        text-wrap: nowrap;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 360px) {
    .All_Order .search input{
        width: 184px !important;
    }

    .All_Order .left, .All_Order .right{
        padding: 5px;
        font-size: 16px;
    }

    .All_Order .order-id span{
        font-size: 13px;
    }

    .All_Order .btn-order a{
        font-size: 17px;
    }
}

/* .All_Order *{
    font-family: var(--Inter_SemiBold);
} */