:root {
  --Inter_Header: 'Inter_Regular';
  --Inter_Local: 'Inter_Local';
  --Inter_Black: 'Inter_Black';
  --Inter_Bold: 'Inter_Bold';
  --Inter_ExtraBold: 'Inter_ExtraBold';
  --Inter_ExtraLight: 'Inter_ExtraLight';
  --Inter_Light: 'Inter_Light';
  --Inter_Medium: 'Inter_Medium';
  --Inter_SemiBold: 'Inter_SemiBold';
  --Inter_Thin: 'Inter_Thin';
  --Header-lin: linear-gradient(97.5deg,
      #e71d7c 7.2%,
      #3e4581 32.6%,
      #e71d7c 51%)
}

/* Access var(--Inter-Header); */

@font-face {
  font-family: 'Inter_Regular';
  src: url(../ui/font/Inter-Regular.woff);
  src: url(../ui/font/Inter-Regular.woff2);
}

@font-face {
  font-family: 'Inter_Local';
  src: url(../ui/font/Inter-Light.woff);
  src: url(../ui/font/Inter-Light.woff2);
}

@font-face {
  font-family: 'Inter_Black';
  src: url(../ui/font/Inter-Black.woff);
  src: url(../ui/font/Inter-Black.woff2);
}

@font-face {
  font-family: 'Inter_Bold';
  src: url(../ui/font/Inter-Bold.woff);
  src: url(../ui/font/Inter-Bold.woff2);
}

@font-face {
  font-family: 'Inter_ExtraBold';
  src: url(../ui/font/Inter-ExtraBold.woff);
  src: url(../ui/font/Inter-ExtraBold.woff2);
}

@font-face {
  font-family: 'Inter_ExtraLight';
  src: url(../ui/font/Inter-ExtraLight.woff);
  src: url(../ui/font/Inter-ExtraLight.woff2);
}

@font-face {
  font-family: 'Inter_Light';
  src: url(../ui/font/Inter-Light.woff);
  src: url(../ui/font/Inter-Light.woff2);
}

@font-face {
  font-family: 'Inter_Medium';
  src: url(../ui/font/Inter-Medium.woff);
  src: url(../ui/font/Inter-Medium.woff2);
}

@font-face {
  font-family: 'Inter_SemiBold';
  src: url(../ui/font/Inter-SemiBold.woff);
  src: url(../ui/font/Inter-SemiBold.woff2);
}

@font-face {
  font-family: 'Inter_Thin';
  src: url(../ui/font/Inter-Thin.woff);
  src: url(../ui/font/Inter-Thin.woff2);
}

.chat .card .card-header {
  padding: 10px 40px;
}

.chat .card .card-header .col-1 img {
  /* background-color: #E71D7C1A; */
  padding: 10px;
  height: 60px;
  width: 60px;
}

.chat .card-header .row .col-1 {
  max-width: 6.33%;
}

.chat .card-header .row .col .header {
  font-family: var(--Inter_Bold);
  font-size: 16px;
  color: #212529;
}

.chat .card-header .row .col .dot {
  height: 7px;
  width: 7px;
  background: #198754;
  border-radius: 50px;
  position: absolute;
  top: 34px;
}

.chat .card-header .row .col .online-text {
  color: #198754;
  margin-left: 12px;
  font-size: 14px;
  font-family: var(--Inter_Medium);
  font-weight: 400;
}

.chat .card-header .row .col .local-time {
  color: #ADB5BD;
  font-size: 15px;
  font-weight: 500;
  margin-left: 5px;
}

.chat .card-header .row .col .Availability-time {
  font-family: var(--Inter_Header);
  border: 1px solid #6C757D;
  background-color: rgba(231, 241, 255, 0.4);
  width: fit-content;
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  color: #6C757D;
  font-weight: 400;
  font-size: 16px;
  margin-top: -15px;
  float: right;
}

.chat .card-header .row .col img {
  margin-left: 20px;
}

.chat .card-header .row .col {
  place-self: center;
}

.chat .card .card-body .day {
  text-align: center;
  float: none;
  border: 1px solid #E3E3E3;
  color: #8F8F8F;
  /* border-radius: 17px; */
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  gap: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: var(--Inter_Header);
}

.chat .card .card-body .chat-box {
  padding: 1rem;
  max-height: 350px;
  overflow-y: scroll;
}

.chat .card .card-body .chat-box::-webkit-scrollbar {
  display: none;
}

.chat .card .card-body .chat-box .user-msg {
  border: 1px solid #DCEDFF;
  box-sizing: border-box;
  background: #F8F9FA;
  border: 1px solid #DCEDFF;
  border-radius: 0px 10px 10px 10px;
  padding: 8px;
  width: fit-content;
  max-width: 556px;
}

.chat .card .card-body .chat-box .user-msg-time,
.chat .admin-msg-time {
  /* position: absolute; */
  align-self: center;
  margin-left: 20px;
  /* margin-bottom: 1rem; */
  margin-bottom: 0px;
  color: #CED4DA;
}

.chat .admin-msg-time {
  margin-left: auto;
}

.chat .card .card-body .chat-box .user-msg-div {
  display: flex;
}

.chat .card .card-body .chat-box .admin-msg-div {
  width: 100%;
  display: flex;
}

.chat .card .card-body .chat-box .admin-msg {
  border: 1px solid #DCEDFF;
  box-sizing: border-box;
  background: #E71D7C;
  color: #fff;
  border: 1px solid #DCEDFF;
  border-radius: 10px 0px 10px 10px;
  padding: 8px;
  width: fit-content;
  max-width: 556px;
  font-size: 15px;
  margin-bottom: 2px;
  font-family: var(--Inter_Header);
}

/* .chat .card .card-body .chat-box .admin-msg::after {
  margin-left: 10px;
  content: url('../ui/Images/msg-tick.svg');
  float: right;
} */

.chat .card .card-body .chat-box .admin-msg-time {
  align-self: center;
  margin-right: 5px;
  margin-bottom: 0px;
  color: #CED4DA;
  font-size: 10px;
  font-family: var(--Inter_Header);
}

.chat .info-box {
  padding: 10px !important;
}

.chat .card-body .chat-box .user-attch .info-box-icon img {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #ADB5BD;
  border-radius: 6px;
  cursor: pointer;
}

.chat .card-body .chat-box .user-attch .info-box .info-box-content {
  line-height: normal;
}

.chat .card-body .chat-box .user-attch .info-box .info-box-content .info-box-text {
  font-size: 18px;
  font-weight: 400;
}

.chat .card-body .chat-box .user-attch .info-box .info-box-content .info-box-number {
  color: #0A58CA;
  font-weight: 400;
}

.chat .info-box {
  background-color: #F8F9FA;
  padding: 10px;
}

.chat .typing {
  background: #fff;
  border: 1px solid #DEE2E6;
  border-radius: 0px 10px 10px 10px;
  width: fit-content;
  min-width: 94px;
  padding: 7px;
  text-align: center;
  margin: 20px;
}

.chat .typing span {
  color: #E71D7C;
  font-weight: 400;
}

.chat .input-msg {
  margin-top: 2.2rem;
  background: #F8F9FA;
  border-radius: 37px;
  /* min-height: 58px; */
  padding: 15px 18px;
}

.chat .vr {
  border-left: 1px solid black;
  margin: 0 10px;
}

.chat .input-msg .msg-box-input {
  background-color: transparent;
  outline: transparent;
  width: 80%;
  border-color: transparent;
}

.chat .row .col-12 .info-box .input-g,
.chat .row .col-12 .info-box .input-g input {
  background: #F8F9FA;
  width: 100%;
}

.chat .download-triangle img:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.chat .Availability-time-div {
  display: flex;
}

/* Date:05/07/2023 */
.chat .download-triangle button:focus,
.chat .download-triangle button:focus {
  outline: none;
}

.chat .download-triangle button:focus,
.chat .download-triangle button:focus .chat .download-triangle img {
  cursor: pointer;
  filter: brightness(1.2);
}

.ChatLogo {
  height: 50px;
  width: 50px;
}

.ChatLogoDiv {
  /* max-width: 5.333333%; */
  max-width: fit-content;
}

/* 1067 */
/* @media only screen and (max-width: 1070px) {
  .ChatLogoDiv {
    max-width: 7.333333%;
  }
}

@media only screen and (max-width: 850px) {
  .ChatLogoDiv {
    max-width: 9.333333%;
  }
}

@media only screen and (max-width: 695px) {
  .ChatLogoDiv {
    max-width: 10.333333%;
  }
}

@media only screen and (max-width: 595px) {
  .ChatLogoDiv {
    max-width: 11.333333%;
  }
} */

@media only screen and (max-width: 550px) {
  .chat .card .card-header {
    padding: 10px 20px;
  }

  .chat .card-header .row .col .Availability-time {
    font-size: 12px;
    margin-top: 5px;
    float: left;
  }
}

.Smile-icon {
  margin-right: "10px";
  cursor: "pointer";
}

.PaperClip-Icon {
  margin-right: "5px";
  cursor: "pointer";
}

@media only screen and (max-width: 426px) {
  /* .chat .card .card-body .chat-box {
    height: 275px;
  } */

  /* .chat .card .card-body form .chat-box {
    height: 90px;
  } */

  .chat .ChatLogoDiv {
    display: none;
  }

  .chat .container {
    padding: 0px;
  }

  .chat .message-input {
    padding: 0px 20px !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    border-radius: 0px !important;
    margin-bottom: 0px;

  }

  .chat .card .card-body .chat-box {
    padding: 0px;
    max-height: 442px;
  }

  .Smile-icon {
    height: 20px;
  }

  .PaperClip-Icon {
    margin-right: 0px;
  }

  .chat .card-header .row .col .Availability-time {
    border: none;
    background-color: transparent;
  }

  .Availability-time{
    display: none;
  }
  .chat .card .card-body .day{
    padding: 5px;
  }
}

.ChatLocalTime {
  color: #ADB5BD;
  font-family: var(--Inter_Medium);
  font-size: 13.71px;
}