.text-gradient {
    background: linear-gradient(97.5deg, #e71d7c 30.2%, #3e4581 50.6%, #e71d7c 70%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48.5px;
    text-align: center;
    line-height: 81px;
    margin-bottom: 15px;
    font-family: var(--Inter_Black);
}
.grey-text {
    color: #6c757d;
    font-size: 17px;
    font-family: var(--Inter_Header);
    font-weight: 400;
    margin-bottom: 0;
}
.light-text {
    color: #adb5bd;
    font-weight: 400;
    font-family: var(--Inter_Header);
    font-size: 15px;
    line-height: 180%;
}
.dark-text {
    color: #495057;
    font-weight: 400;
    font-family: var(--Inter_Header);
    font-size: 17px;
    line-height: 180%;
}
.pink-text {
    color: #e71d7c !important;
}
.blue-btn {
    display: block;
    width: 210px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background-color: #0c0d48;
    color: #fff;
    margin: 50px auto;
}
.blue-btn:hover {
    /* background-image: -webkit-linear-gradient(97.5deg, #e71d7c 7.2%, #3e4581 57.6%, #e71d7c 84%); */
    color: white;
    border: none;
}
/* ul {
    /* padding-left: 0; *-/
} */
.gradient-text {
    /* background: linear-gradient(97.5deg, #e71d7c 7.2%, #3e4581 57.6%, #e71d7c 84%); */
    background: linear-gradient(97.5deg, #e71d7c 10.2%, #3e4581 67.6%, #e71d7c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ant-notification-notice {
    z-index: 999999999;
}

@media only screen and (max-width: 1024px){
    .text-gradient{
        font-size: 40px;
    }
}