.footer-sec {
    z-index: 99;
    position: relative;
}

.footer-sec .mailing-section {
    background-image: url("../ui/Images/vector-mailing.png");
    width: 100%;
    height: 100%;
    padding: 130px 100px 50px 100px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}

.footer-sec .mailing-section:before {
    content: "";
    background-image: url("../ui/Images/mailing-decorate-1.png");
    width: 300px;
    height: 297.9px;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    left: 10px;
    background-repeat: no-repeat;
}

.footer-sec .mailing-section:after {
    content: "";
    background-image: url("../ui/Images/mailing-decorate-2.png");
    width: 200px;
    height: 235px;
    position: absolute;
    bottom: 40px;
    right: 0;
    background-repeat: no-repeat;
}

.footer-sec .mailing-section .mailing-col {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-sec .mailing-section .mailing-col p {
    max-width: 690px;
    margin: 0 auto;
}

.footer-sec .mailing-section .mailing-col .text-gradient {
    font-family: var(--Inter_Bold);
    font-weight: 900;
}

.footer-sec .mailing-section .mailing-col .mailing-input {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    padding: 15px;
    width: 100%;
    position: relative;
    max-width: 578px;
    width: 100%;
    margin: 50px auto 0;
    transition: 0.3s;
}

.footer-sec .mailing-section .mailing-col .mailing-input input {
    width: 75%;
    border: none !important;
    outline: none !important;
    transition: 0.3s;
}

.footer-sec .mailing-section .mailing-col .mailing-input:focus {
    outline: none !important;
}


.mailing-input:focus {
    border: none;
}

.footer-sec .mailing-section .mailing-col .mailing-input input::placeholder {
    font-size: 17px;
    color: #adb5bd;
}

.footer-sec .mailing-section .mailing-col .mailing-input button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    font-weight: 600 !important;
    margin: unset !important;
    width: 9rem;
    border-radius: 0;
    transition: 0.5s;
}

/* .footer-sec .mailing-section .container .mailing-col */
.mailing-input:hover,
.mailing-input:hover>input {
    /* background-color: #100f19 !important; */
    /* color: #adb5bd; */
}

.mailing-input button:hover {
    /* background-image: #100f19 !important; */
    background-image: -webkit-linear-gradient(97.5deg, #100f19 7.2%, #100f19 57.6%, #100f19 84%);
    border: 1px solid #39383e !important;
}

.footer-sec .footer {
    background-color: #fff;
    padding: 95px 0 0 0;
    /* padding: 50px 170px 0; */
}

.footer-sec .footer li {
    /* padding: 5px 0px; */
    padding: 8px 0px;
    list-style-type: none;
}

.footer-sec .footer li a {
    color: #212529 !important;
    font-size: 17px;
    font-family: var(--Inter_Regular);
    font-weight: 400;
}

.footer-sec .footer li a:hover {
    color: #e71d7c !important;
    /* font-weight: 500 !important; */
    cursor: pointer;
}

.footer-sec .footer .bottom-col {
    border-top: 1px solid #ced4da;
    padding: 37px 0;
}

.footer-sec .footer .bottom-col .footer-link-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.footer-sec .footer .bottom-col .footer-link-icon:hover {
    background-color: #000;
    color: #fff;
    filter: invert(0);
}

.footer-sec .footer .logo {
    margin-left: 20px;
    margin-bottom: 1rem;
}

.footer .mb-2 {
    margin-bottom: 2.3rem !important;
}

@media only screen and (max-width: 560px) {
    .footer-sec .mailing-section {
        padding: 70px 10px;
        /* padding-bottom: 25px; */
    }

    .footer-sec .mailing-section .mailing-col .mailing-input input {
        width: 50%;
    }
}

.footer-sec .container {
    max-width: 1200px;
}

@media only screen and (max-width: 426px) {
    .mailing-input {
        flex-direction: column;
    }

    .footer-sec .mailing-section .mailing-col .mailing-input input {
        width: 100px;
    }

    .footer .container .row .col {
        flex: none;
        width: fit-content;
        text-align: left;
        margin-bottom: 10px;
    }

    .footer-sec .footer li a {
        font-size: 13px !important;
    }

    .footer .container .row {
        margin: 0;
    }
    .footer .container .row .col ul {
        margin-bottom: 0;
        line-height: 30px;
        padding: 0px;
    }

    .footer-sec .footer li{
        padding: 0;
    }

    .footer .container .bottom-col {
        flex-direction: column;
    }

    .footer .container .bottom-col .d-flex {
        flex-wrap: wrap;
    }

    .footer .container .bottom-col .d-flex .footer-ddl select {
        margin-top: 10px;
    }
}

.footer-ddl select {
    background: #fff;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    min-width: 75px;
    min-height: 42.83px;
    text-align: center;
}