.breaddiv {
    position: relative;
    align-items: center;
}

.breadcrumb {
    /* box-sizing: border-box; */

    /* Auto layout */
    /* left: 100px; */
    /* top: 160px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 23px;
    gap: 10px;

    /* position: absolute; */
    width: fit-content;
    height: fit-content;


    background: #FFFFFF;
    /* Gray/300 */

    border: 0.5px solid #DEE2E6;
    box-shadow: 0px 36px 22px rgba(0, 0, 0, 0.01), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 4px 9px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
    border-radius: 25px;

}

.breadcrumb .default {
    width: 46px;
    height: 24px;

    font-family: 'system-ui';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-decoration-line: underline;
    /* Gray/900 */
    color: #212529;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.breadcrumb .breadcrumb-item a:hover {
    cursor: pointer !important;
    color: #000 !important;
}

/* .title1 {
    width: 935px;
    height: 169px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 57.8265px;
    line-height: 84px;
    letter-spacing: -0.02em;
    background: linear-gradient(97.5deg, #E71D7C 7.2%, #3E4581 57.6%, #E71D7C 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title2 {
    width: 660px;
    height: 111px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #0C0D48;
} */

.logo-design .title1 {
    width: 800px;
    font-family: var(--Inter_Header);
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: -0.02em;
    background: linear-gradient(97.5deg,
            #e71d7c 7.2%,
            #3e4581 57.6%,
            #e71d7c 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.logo-design .title2 {
    width: 660px;
    font-family: var(--Inter_Header);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    color: #0c0d48;

}

.logo-design .card-title {
    width: 100%;
    height: 27px;
    font-family: var(--Inter_Bold);
    font-style: normal;
    font-weight: 600;
    font-size: 23.2px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #0C0D48;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo-design .card-title span {
    font-family: unset;
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 150%;
    color: #6C757D;
}

.logo-design .card-text {
    width: 100%;
    height: 32px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: flex-start;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 0;
}

.logo-design .card-text .amount {
    size: 16px;
    color: #FD7E14;
}

.logo-design .card-text span {
    color: #ADB5BD;
}

.logo-design .card-text .mx-2 {
    font-size: 14px;
    font-weight: 400;
}

.logo-design .desc {
    width: fit-content;
    height: auto;
    font-style: normal;
    font-family: sans-serif;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 100 !important;
    font-size: 16px;
    line-height: 24px;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo-design .discount {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    width: 142px;
    height: 37px;
    background: #FFF9F4;
    border: 0.5px solid #FD7E14;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 0.5s;
}

.logo-design .discount span {
    width: fit-content;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FD7E14;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 0.5s;
}

.logo-design .discount:hover {
    background-color: #f4f4f4;
    border-color: #0f0f0f;
}

.logo-design .discount:hover>span {
    color: #0f0f0f;
}

.logo-design .lead .col-3 {
    width: 29%;
}

.logo-design .card-body img {
    width: 100%;
}

.logo-design .lead .col-3 .card .card-body {
    padding: 0;
}

.logo-design .b1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(97.5deg, #E71D7C 7.2%, #3E4581 57.6%, #E71D7C 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.logo-design .b2 {
    display: inline-block;
    width: 533.5px;
    min-height: 59px;
    height: auto;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.1667px;
    line-height: 29px;
    text-align: center;
    color: #6C757D;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.logo-design .rhead p {
    width: 179.66px;
    height: 26px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20.0554px;
    line-height: 25px;
    text-transform: capitalize;
    color: #0C0D48;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo-design .rbody p {
    width: 225.62px;
    min-height: 81px;
    height: auto;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13.8142px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #495057;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Product-cards .card {
    transition: 0.5s;
}

.Product-cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 991px) {
    .breaddiv {
        display: none;
    }

    .logo-design .row {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .logo-design .col-3 {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .logo-design .title1 {
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 22.5852px;
        line-height: 137%;

    }

    .logo-design .title2 {
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
    }

    .logo-design .lead .col-3 {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .logo-design p .b1 {
        width: 237px !important;
        height: 62px;
        font-style: normal;
        font-weight: 700;
        font-size: 22.5852px;
        line-height: 137%;
    }

    .logo-design .b2 {
        width: auto !important;
        height: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .logo-design .py-5 {
        padding-top: 0% !important;
    }

    .logo-design .card-title {
        font-size: 20px;
    }
}