.portfolio .nav-tabs{
    width: fit-content;
}

.portfolio .nav-tabs .nav-item a {
    color: #6C757D;
    font-family: var(--Inter_Thin);
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
}

.portfolio .nav-tabs .nav-item .active {
    color: #E71D7C;
    font-family: var(--Inter_Header);
    font-size: 18px;
    /* font-weight: 600; */
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

    /* position: absolute; */
}

.portfolio .card-img-top {
    /* height: 180px;
    width: 270px; */
    height: 200px;
    width: 300px;
    border-radius: 0px;
}

.portfolio .card {
    width: 300px !important;
    transition: 0.5s;
}

.portfolio .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.portfolio{
    position: relative;
}

.portfolio .row .col .card .card-body .card-title{
    font-family: var(--Inter_Header);
    text-align: start;
    font-weight: 600;
    font-size: 22px;
}

.portfolio .row .col .card .card-body .card-text{
    font-family: var(--Inter_Local);
    text-align: start;
    font-weight: 400;
    font-size: 14px;
}

.portfolio nav .pagination .page-item {
    width: 50.37px;
    height: 45.5px;
}

.portfolio nav .pagination .page-item a {
    margin-left: auto !important;
    font-family: var(--Inter_Local);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}

.portfolio nav .pagination .page-item a:active,
.portfolio nav .pagination .page-item a:focus {
    color: #FFFFFF;
    background-color: #000;
}

.portfolio .forMobile {
    display: none;
}

.portfolio .h1 {
    /* font-family: var(--Inter_Header); */
    font-family: var(--Inter_SemiBold);
    font-weight: 100;
    font-style: normal;
    font-weight: 600;
    font-size: 57.8265px;
    line-height: 84px;
    letter-spacing: -0.02em;
    background: var(--Header-lin);
    /* background: linear-gradient(97.5deg,
            #e71d7c 7.2%,
            #3e4581 57.6%,
            #e71d7c 84%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.portfolio .discription {
    width: 640px;
    font-family: var(--Inter_Light);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #0c0d48;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 991px) {
    .breaddiv {
        display: none;
    }

    .portfolio .forweb {
        display: none;
    }

    .portfolio .forMobile {
        display: block;
        /* margin: 0 30%; */
    }

    .portfolio .nav-tabs {
        display: grid;
        width: 100%;
    }

    .portfolio .nav-tabs .nav-item .active {
        color: #E71D7C;
        font-family: var(--Inter_Local);
        font-size: 18px;
        font-weight: 800 !important;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        width: fit-content;
    }

    .portfolio .h1 {
        text-align: left;
        font-size: 23px;
        line-height: 40px;
        letter-spacing: 0;
    }

    .portfolio .discription {
        font-size: 20px;
        width: auto;
        text-align: left;
    }

    .portfolio .my-3,
    .portfolio .card {
        margin-bottom: 10px !important;
    }
}

.portfolio .nav-link:hover {
    background-color: #fafafa;
}

@media only screen and (max-width: 350px) {
    .portfolio .card-img-top{
        height: 170px;
        width: 270px;
    }
}