/* Radio */
.ant-radio-wrapper:hover .ant-radio-inner {
    border-color: #198754;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    background-color: #198754;
    border-color: #198754;
}

@media only screen and (max-width: 770px) {
    .requirements .mx-5 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.requirements .lbl_req_Question {
    font-family: var(--Inter_Header);
    font-weight: 400 !important;
    font-size: 18.24px;
    color: #212529;
}

.requirements .txt_requirement {
    font-family: var(--Inter_Header);
    font-weight: 400 !important;
    font-size: 16px;
    color: #6C757D;
}

.requirements .lbl_rdo_requirement {
    font-family: var(--Inter_Header);
    font-weight: 400 !important;
    font-size: 17.77px;
    color: #212529;
}

.requirements .ddl_require {
    font-family: var(--Inter_Header);
    font-weight: 400 !important;
    font-size: 18.24px;
    color: #6C757D;
}

.lbl_requi_footer_note {
    font-family: var(--Inter_Header);
    font-weight: 400 !important;
    font-size: 16.79px;
    color: #212529;
    margin-top: 10px;
}

@media only screen and (max-width: 321px) {
    .Order-status-footer .btn-dark {
        margin-top: 10px;
        min-height: 36px;
        min-width: 135.2px;
        padding: 10px !important;
        font-size: 12px;
        float: none !important;
    }
    .lbl_requi_footer_note {
        width: 50%;
    }
    .Order-status-footer .btn-dark {
        top: -40px;
    }

}

.Order-status-footer .Order-status-footer-req .footer {
    padding: 20px 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.requirements:before {
    /* height: 500px !important; */
    height: 100% !important;
    background: none !important;
}

.requirements:after {
    height: 100% !important;
}

@media only screen and (max-width: 426px) {
    .Order-status-footer .btn-dark {
        min-width: 120px;
        top: 8px;
        padding: 0px 40px;
    }

    .Order-status-footer .Order-status-footer-req .footer {
        padding: 10px 30px;
    }

    .lbl_requi_footer_note {
        width: 60%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .lbl_requi_footer_note {
        width: 50%;
    }

    .Order-status-footer .btn-dark {
        top: 20px;
    }
    .requirements .BlankSpace{
        margin-bottom: 5rem;
    }
}