.contact-us-section {
    background: rgba(231, 29, 124, 0.02);
}

.contact-us-section .sub-section {
    max-width: 1000px !important;
    margin: 0px auto;
    padding: 70px 0px;
    padding: 70px 0px 0
}

.contact-us-section .sub-section .row .col-3{
    margin: 0 18px;
}

.contact-us-section .contact-head {
    font-size: 50.5px;
    font-family: var(--Inter_ExtraBold);
    font-weight: 800;
    color: #e71d7c;
    margin-bottom: 10px;
}

.contact-us-section h6 {
    color: #0c0d48;
    font-size: 20.17px;
    font-weight: 700;
    font-family: var(--Inter-Bold);
}

.contact-text {
    text-align: center;
    margin-top: 60px;
}

.contact-text h3 {
    background: linear-gradient(97.5deg, #e71d7c 7.2%, #3e4581 57.6%, #e71d7c 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48.5px;
    margin-bottom: 20px;
    line-height: 70px;
    font-family: var(--Inter_Medium);
    font-weight: 600;
}

.contact-text p {
    color: #6c757d;
    font-family: var(--Inter_thin);
    font-size: 17px;
    /* font-weight: 600; */
    max-width: 450px;
    margin: 0 auto;
}

.contact-text .btn {
    background-color: #e71d7c;
    font-family: var(--Inter_Medium);
    font-size: 15px;
    transition: 0.5s;
}


.contact-text .btn:hover {
    /* background-image: linear-gradient(to right, #e71d7c, #852D91, #A3A1FF, #F24645); */
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

/* .contact-us-section h6 {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #0c0d48;
} */


@media only screen and (max-width: 560px) {
    .contact-us-section .contact-head {
        font-size: 30.5px;
    }

    .contact-us-section h6 {
        font-size: 10.17px;
    }

    .contact-text h3 {
        font-size: 25px;
        line-height: inherit;
    }

    .contact-text p {
        font-size: 12px;
    }
    .contact-us-section .sub-section .row .col-3{
        margin: auto;
    }
}