body {
  font-family: "Inter", sans-serif;
}
body .cursor-pointer {
  cursor: pointer;
}
body .btn-warning {
  background-image: -webkit-linear-gradient(97.5deg, #e71d7c 7.2%, #3e4581 57.6%, #e71d7c 84%);
  color: #fff;
  border: none;
}

body {
  background-color: #fff !important;
}
body ul {
  margin: 0 !important;
}

.container {
  max-width: 1540px !important;
}

.home {
  position: relative;
}
.home:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../../Images/background-line.png");
  background-repeat: no-repeat;
  width: 1669px;
  height: 1310px;
  z-index: -1;
  background-size: cover;
}
.home:before {
  background-image: url("../../../Images/background-square.png");
  content: "";
  position: absolute;
  top: -230px;
  right: 0;
  height: 1730px;
  bottom: 0;
  /* z-index: -1; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.home .hero-section {
  position: relative;
  z-index: 99;
}
.home .hero-section .branding {
  position: relative;
}
.home .hero-section .branding h2.heading {
  font-weight: 600;
  font-size: 57px;
  line-height: 80px;
}
.home .hero-section .branding span.text {
  font-weight: 400;
  display: inline-block;
  font-size: 20px;
  line-height: 37px;
  color: #0C0D48;
  width: 450px;
}
.home .hero-section .branding button {
  display: block;
  margin-top: 50px;
  width: 210px;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.home .hero-section .branding button:hover {
  background-image: -webkit-linear-gradient(97.5deg, #e71d7c 7.2%, #3e4581 57.6%, #e71d7c 84%);
  color: #fff;
  border: none;
}
.home .hero-section .branding .msg-btn-outline {
  display: block;
  margin-top: 50px;
  width: 210px;
  font-weight: 600;
  font-size: 20px;
  color: #E71D7C;
  background-color: transparent;
  border: 1px solid #E71D7C;
}
.home .hero-section .branding:after {
  background-image: url("../../../Images/Rectangle.png");
  content: "";
  position: absolute;
  top: 93%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  z-index: -1;
  left: 400px;
}
.home .hero-section .branding:before {
  background-image: url("../../../Images/Abstract.png");
  content: "";
  position: absolute;
  top: 120%;
  left: 120px;
  height: 100%;
  width: 100%;
  bottom: 0;
  /* z-index: -1; */
  background-repeat: no-repeat;
  width: 100%;
}
.home .cards div {
  display: flex;
  flex-direction: column;
}
.home .cards div .userCard {
  left: 95px;
  position: relative;
  width: 179.85px;
  height: 208.44px;
  box-shadow: 0px 8.75271px 17.5054px rgba(0, 0, 0, 0.07);
  border-radius: 9.5665px;
  border: none;
}
.home .cards div .userCard .userImage {
  position: absolute;
  width: 40.18px;
  height: 40.16px;
  right: -15px;
  top: -20px;
}
.home .cards div .userCard .userImage img {
  background: #e71d7c;
  box-shadow: -4px 26px 11px rgba(0, 0, 0, 0.01), -3px 15px 9px rgba(0, 0, 0, 0.05), -1px 7px 7px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16.263px;
}
.home .cards div .userCard .name {
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #0C0D48;
}
.home .cards div .userCard .growth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.home .cards div .userCard .growth p {
  font-weight: 400;
  font-size: 13;
  line-height: 16px;
  margin: 0;
  color: #3E4581;
}
.home .cards div .userCard .growth h3 {
  color: #e71d7c;
  font-weight: 700;
  font-size: 28;
  line-height: 35px;
}
.home .cards div .followerCard {
  position: relative;
  right: 40px;
  width: 293px;
  height: 324px;
  box-shadow: 0px 8.75271px 17.5054px rgba(0, 0, 0, 0.07);
  border-radius: 9.5665px;
  border: none;
  margin-top: 30px;
}
.home .cards div .followerCard .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}
.home .cards div .followerCard .cardHeader span {
  font-weight: 600;
  font-size: 13.3931px;
  line-height: 16px;
}
.home .cards div .followerCard .cardHeader .actions {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .cards div .followerCard .cardHeader .actions img {
  width: 30px;
  margin-left: 5px;
}
.home .cards div .followerCard .count p {
  font-size: 14px;
  color: #3E4581;
}
.home .cards div .followerCard .count p span {
  font-size: 21px;
}
.home .exploreCategories {
  z-index: 99;
  position: relative;
  margin-top: 140px;
}
.home .exploreCategories h3.head {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
.home .exploreCategories .brandingCards {
  max-width: 1200px;
  margin: 0 auto;
}
.home .exploreCategories .brandingCards button {
  margin: 50px auto;
  max-width: 210px;
}
.home .exploreCategories .brandingCards .brands-card {
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: none;
  background-color: #fff;
  height: 100%;
  padding: 32px 27px;
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
}
.home .exploreCategories .brandingCards .brands-card h3 {
  font-weight: 700;
  color: #0C0D48;
  margin: 15px 0;
}
.home .exploreCategories .brandingCards .brands-card p {
  color: #6C757D;
  font-weight: 400;
  font-size: 17px;
}
.home .exploreCategories .subtext {
  color: #6c757d;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 60px;
}
.home .exploreCategories .card {
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: none;
}
.home .exploreCategories .card:nth-child(2) {
  margin: 0 40px;
}
.home .exploreCategories .card img {
  width: 44px;
  margin: 32px 0 20px 0;
}
.home .exploreCategories .card h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #0C0D48;
}
.home .profile-section {
  margin-top: 150px;
}
.home .profile-section .textContainer {
  max-width: 518px;
}
.home .profile-section .textContainer .heading {
  font-weight: 600;
  font-size: 51px;
  line-height: 128%;
  margin-bottom: 15px;
}
.home .profile-section .textContainer ul {
  margin-bottom: 47px;
  padding-left: 30px;
  list-style-type: disc;
}
.home .profile-section .textContainer ul li {
  font-weight: 400;
  font-size: 19px;
  line-height: 43px;
  color: #6C757D;
}
.home .profile-section .textContainer button {
  margin: 0;
}
.home .profile-section .client-card {
  width: 342px;
  height: 388px;
  border-radius: 16px;
  position: relative;
  top: -40px;
  border: none;
  background-color: #fff;
  box-shadow: inset 0PX -1PX 3PX 1px #dbdbdb;
}
.home .profile-section .client-card .card-body {
  margin-left: 30px;
}
.home .profile-section .client-card .card-body .green-check-mark {
  position: absolute;
  top: -40px;
  right: -40px;
}
.home .profile-section .client-card .card-body h3 {
  color: #212529;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.home .profile-section .client-card .card-body .profiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}
.home .profile-section .client-card .card-body .profiles .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.home .profile-section .client-card .card-body .profiles .profile img {
  width: 50px;
  margin-right: 15px;
}
.home .profile-section .client-card .card-body .profiles .profile p {
  font-weight: 500;
  font-size: 18px;
  color: #212529;
  margin: 0;
}
.home .profile-section .client-card .card-body .profiles .profile span {
  color: #6C757D;
  font-weight: 400;
  font-size: 12px;
}
.home .profile-section .client-card .card-body a {
  color: #e71d7c;
  font-weight: 600;
  font-size: 18px;
}
.home .profile-section .client-card .card-body a img {
  width: 17px;
  margin-left: 17px;
}
.home .profile-section .profile-card {
  width: 370px;
  position: absolute;
  right: 155px;
  top: 130px;
  border: none;
  box-shadow: inset 0PX -1PX 3PX 1px #dbdbdb;
}
.home .profile-section .profile-card .card-body {
  margin: 6px 0;
}
.home .profile-section .profile-card .card-body img {
  margin-bottom: 20px;
}
.home .profile-section .profile-card .card-body h3 {
  font-weight: 600;
  font-size: 20px;
  color: #212529;
}
.home .profile-section .profile-card .card-body .green-btn {
  width: 166px;
  height: 42px;
  background: #198754;
  border-radius: 6px;
  margin-top: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: default;
}
.home .profile-section .dots {
  background-repeat: no-repeat;
  width: 250px;
  position: relative;
  left: 50px;
}
.home .about-section {
  margin-top: 200px;
}
.home .about-section .top-area {
  max-width: 1000px;
  margin: 0 auto;
}
.home .about-section .top-area h3 {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  line-height: 81px;
}
.home .about-section .top-area p {
  text-align: center;
  color: #6C757D;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  width: 80%;
  margin: auto;
}
.home .about-section .bottom-area {
  max-width: 1000px;
  margin: 80px auto 0;
}
.home .about-section .about-card {
  background-color: #fff;
  border: 1px solid #E9ECEF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  padding: 15px 38px;
  height: 100%;
  transition: all 0.5s;
}
.home .about-section .about-card h5 {
  font-size: 21.3391px;
  color: #3E4581;
}
.home .about-section .about-card p {
  font-size: 17.0713px;
  color: #6C757D;
}
.home .about-section .about-card:hover {
  transform: translateY(-6%);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.home .carousel-sec h3 {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  line-height: 81px;
  max-width: 665px;
  margin: 0 auto;
}
.home .carousel-sec .carousel-item {
  max-width: 650px;
  margin: 0 auto;
}
.home .contact-us-section {
  background: rgba(231, 29, 124, 0.02);
}
.home .contact-us-section .sub-section {
  max-width: 1000px !important;
  margin: 0px auto;
  padding: 70px 0px;
}
.home .contact-us-section .contact-head {
  font-size: 48.5px;
  font-weight: 700;
  color: #E71D7C;
  margin-bottom: 10px;
}
.home .contact-us-section h6 {
  color: #0C0D48;
  font-size: 20.17px;
  font-weight: 700;
}
.home .contact-text {
  text-align: center;
  margin-top: 60px;
}
.home .contact-text h3 {
  background: linear-gradient(97.5deg, #E71D7C 7.2%, #3E4581 57.6%, #E71D7C 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48.5px;
  margin-bottom: 20px;
  line-height: 70px;
}
.home .contact-text p {
  color: #6C757D;
  font-size: 17px;
  font-weight: 400;
  max-width: 380px;
  margin: 0 auto;
}
.home .faq-section {
  max-width: 1000px;
  margin: 0 auto;
}
.home .faq-section .faq-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 41px;
}
.home .faq-section .faq-title .color-pink {
  color: #E71D7C;
}
.home .faq-section h4 {
  font-size: 40px;
  color: #000;
}
.home .faq-section .accordion-item {
  background-color: #fff !important;
  border: 1px solid #E9ECEF;
  margin-bottom: 30px !important;
  border-radius: 20px !important;
  box-shadow: 20px 35px 70px rgba(0, 0, 0, 0.04);
}
.home .faq-section .accordion-button:not(.collapsed) {
  background: #fff !important;
  box-shadow: none !important;
}
.home .faq-section .accordion-button {
  background: #fff !important;
  border-radius: 20px !important;
  font-size: 18px;
  color: #212529;
  padding: 20px 25px;
}
.home .faq-section .accordion-button:focus {
  box-shadow: none !important;
}
.home .faq-section .accordion-body {
  font-size: 16px !important;
}

.img-w-100 {
  width: 100%;
}/*# sourceMappingURL=Home.css.map */