
.ant-modal-content {
    padding: 12px !important;
    padding-bottom: 0.1px !important;
  }

  .ant-modal{
    width: fit-content !important;
  }
  
  .anticon.anticon-close.ant-modal-close-icon {
    svg {
      font-size: 23px !important;
      color: black !important;
      background: white;
    }
  }
  