@import "../../../Scss/variables";

.form-card-container {
	width: 100%;

	.SignupForm {
		width: 500px;
		background: $white;
		margin: 85px auto;
		padding: 38px;
		top: 50%;

		box-shadow: 0px 1.70526px 3.41053px rgba(0, 0, 0, 0.075);

		label,
		input {
			font-size: 18px;
		}

		h2 {
			font-weight: 700;
			font-size: 27.2842px;
			color: $primary;
			margin-top: 34px;
		}

		.upload-btn {
			background: #f8f9fa;
			border: 1px dashed $lightGray;
			border-radius: 2px;
			color: $lightGray;

			svg {
				margin-right: 8px;
			}
		}

		.viewPassword {
			cursor: pointer;
			position: absolute;
			right: 10px;
		}

		.signup-btn {
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
			color: $white;
			font-size: 18px;
			font-weight: 600;
			border-radius: 3px;
			padding: 12px 10px;
			margin-top: 30px;
		}
	}
}

.orOption {
	font-weight: 400;
	font-size: 17;
	line-height: 164%;
	color: $lightGray;
	text-align: center;
	margin: 20px 0;
}

.otherLoginOptions {
	display: flex;
	justify-content: center;
	align-items: center;

	.option {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.852632px solid #212529;
		border-radius: 3.41053px;
		width: 190px;
		padding: 9px;

		span {
			margin-left: 5px;
			font-size: 18px;
			font-weight: 600;
		}

		&:nth-child(1) {
			margin-right: 18px;
		}
	}
}

.disabled {
	background-color: $lightGray2;
	border: none;
	cursor: not-allowed;
}

.mobile-input {
	.PhoneInput {
		padding: 6px 12px;
		border: 1px solid #ced4da;
		appearance: none;
		border-radius: 0.375rem;
		gap: 5px;

		.PhoneInputCountrySelectArrow {
			// margin-left: 5px;
			display: none;
		}

		.PhoneInputInput {
			border: none;
		}
	}
	.PhoneInput--focus {
		// display: none;
		// border: none;
		input {
			border: none !important;
			// border: none;
		}
	}
}

.profile-image {
	width: 55px;
	height: 55px;
	border-radius: 4px;
	margin-right: 17px;
}

.title-name {
	font-weight: 500;
	font-size: 18.24px;
	color: #212529 !important;
}
.img-name {
	font-weight: 400;
	font-size: 14.05px;
	color: #0a58ca !important;
}
