/* Set content for font-families */
button:focus {
	outline: none;
}

.ql-font-arial,
.ql-font span[data-value="arial"]::before {
	font-family: Arial, sans-serif;
}

.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
	font-family: "Courier New";
}

.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
	font-family: Georgia, serif;
}

.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
	font-family: Helvetica, sans-serif;
}

.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.ql-font-poppins,
.ql-font span[data-value="poppins"]::before {
	font-family: "Poppins", sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
	font-size: 13px !important;
}

.ql-size-small,
.ql-size span[data-value="small"]::before {
	font-size: 14px !important;
}

.ql-size-medium,
.ql-size span[data-value="medium"]::before {
	font-size: 18px !important;
}

.ql-size-large,
.ql-size span[data-value="large"]::before {
	font-size: 20px !important;
}

.quill-text-editor {
	background-color: #fff;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.quill-text-editor .ql-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	border: 0;
}

.quill-text-editor .ql-editor {
	flex: 1;
	overflow-y: auto;
	width: 100%;
	min-height: 250px;
	max-height: 300px;
}

.ql-editor {
	padding: 20px 24px !important;
	overflow-y: unset !important;
	max-height: none !important;
}
