#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.FilterScroll {
  width: 100% !important;
  overflow-y: hidden !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
  display: inline-block !important;
}

.scroll-right-arrow {
  position: absolute;
  font-size: 24px;
  text-decoration: none;
  color: #8d93b8;
  cursor: pointer !important;
  margin-top: 12px !important;
  margin-right: -5px;
  background-color: white;
  width: 28px;
  z-index: 99;
}

.scroll-left-arrow {
  position: absolute;
  /* right: 10px; */
  font-size: 24px;
  text-decoration: none;
  color: #8d93b8;
  cursor: pointer !important;
  margin-top: 12px !important;
  margin-right: -5px;
  background-color: white;
  width: 28px;
  z-index: 99;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* You can choose any color you like */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  /* Color of the scrollbar handle */
  border-radius: 3px;
  /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar handle when hovered */
}

@media only screen and (max-width: 768px) {
  .scroll-right-arrow {
    margin-top: 20px !important;
    margin-left: -25px;
  }
}

