@import '../../../Scss/variables';

.main-header {
    margin: 46px auto 103px auto;
    // display: flex;
    // align-items: center;
    z-index: 9999;
    position: relative;

    .logo {
        width: 179px;
    }

    .menu {
        ul.navigation {
            display: flex;
            list-style-type: none;
            justify-content: center;
            align-items: center;
            margin: 0;

            li {
                a {
                    margin: 0 30px;
                    font-weight: 400;
                    font-size: 15.5px;
                    line-height: 150%;
                    color: $lightGray2;

                    &:hover {
                        color: #212529;
                    }
                }
            }
        }

        .service-nav {
            position: relative;

            &:hover .services {
                display: flex;
            }

            .services {
                z-index: 9999;
                display: none;
                position: absolute;
                // display: flex;
                justify-content: space-between;
                align-items: center;
                width: 570px;
                background: #FFFFFF;
                box-shadow: 0px 313px 125px rgba(0, 0, 0, 0.01), 0px 176px 106px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09), 0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                top: 42px;
                left: 0;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    a {
                        // transition: all 0.5s;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 150%;
                        color: $lightGray;
                        height: 48px;
                        display: flex;
                        align-items: center;

                        &:hover {
                            font-weight: 500;
                            color: $primary;

                            &::before {
                                content: "//";
                                margin-right: 5px;
                                font-size: 10px;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .first {
                    a {
                        width: 200px;
                    }
                }

                .second {
                    a {
                        width: 330px;
                    }
                }
            }
        }
    }
    // .header {
    //     padding-bo
    // }

    .search {
        display: flex;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            left: 10px;
        }

        input {
            padding-left: 40px;

            &::-webkit-input-placeholder {
                color: $lightGray2;
            }

            width: 150px;
            font-size: 14px;
        }
    }

    .notifications {
        margin: 0 30px 0 24px;


        div {
            position: relative;
            margin: 0 11px;

            .badge-yellow {
                position: absolute;
                width: 11px;
                height: 11px;
                background-color: #FD7E14;
                right: 0;
                border-radius: 15px;
                top: -1px;
            }

            .badge-green {
                position: absolute;
                width: 11px;
                height: 11px;
                background-color: #198754;
                right: 0;
                border-radius: 15px;
                top: 0px;
            }
        }
    }

    .login-btn {
        width: 120px;

        button {
            color: $white;
            font-weight: 600;
        }
    }

    .userProfile {
        cursor: pointer;

        .userDropdown {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            border-radius: 10px;
        }

        .dropdown-item{
            display: flex;
            gap: 14px;
        }
    }
    .breadCrumbs {
        border: 0.5px solid #DEE2E6;
        box-shadow: 0px 36px 22px rgba(0, 0, 0, 0.01), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 4px 9px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
        border-radius: 50px;
		max-width: fit-content;
		padding: 13px 30px;

		.crumb {
			text-transform: capitalize;
		}

        a{
            font-size: 16px ;
            color:  #212529;
            margin: 0 10px;
        }
        .text-decoration{
            margin-left: 10px;
            &:last-child {
                font-weight: 600 !important;
                text-decoration: underline;
            }
        }

    }
}